<header class="content__title" id="foco">
    <h1>Camas</h1>
	<small>Podra asignar las camas a las Sedes de las Empresas!</small>
</header>
<div class="card">
	<div class="card-body">
		<div class="accordion" role="tablist">
			<div class="card">
	           	<div class="card-header" role="tab" id="headingOne">
	                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	                    Datos de la cama a registrar
	                </a>
	            </div>

	            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
	                <div class="card-body">
	                	<form [formGroup]="camasForm">
	                		<div class="row col-md-12">
	                			<div class="col-md-6 mb-3">
	                                <div class="form-group">
	                                    <label for="ID_EMPRESA">Empresa <span style="color: #ff6b68;">*</span></label>
	                                    <select class="select2 empresa" data-placeholder="Seleccione..." id="ID_EMPRESA" formControlName="ID_EMPRESA">
											<option></option>
											<option *ngFor="let empresa of empresas" [value]="empresa.ID_EMPRESA">{{empresa.NOM_EMPRESA}}</option>
	                                    </select>
										<i class="form-group__bar"></i>
	                                </div>
	                            </div>

	                			<div class="col-md-6 mb-3">
	                                <div class="form-group">
	                                    <label for="ID_SEDE">Sede <span style="color: #ff6b68;">*</span></label>
	                                    <select class="select2 sede" data-placeholder="Seleccione..." id="ID_SEDE" formControlName="ID_SEDE">
											<option></option>
											<option *ngFor="let sede of sedes" [value]="sede.ID_SEDE">{{sede.NOM_SEDE}}</option>
	                                    </select>
										<i class="form-group__bar"></i>
	                                </div>
	                            </div>

	                            <div class="col-md-3">
								    <label for="NUMERO">Número <span style="color: #ff6b68;">*</span></label>
								    <div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="zmdi zmdi-view-headline"></i></span>
										</div>
										<input type="text" id="NUMERO" placeholder="Número" class="form-control" formControlName="NUMERO" [ngClass]="{ 'is-invalid': submitted && f.NUMERO.errors }" />
										<div *ngIf="submitted && f.NUMERO.errors" class="invalid-feedback">
								            <div *ngIf="f.NUMERO.errors.required">Por favor, diga el número de la cama.</div>
								        </div>
										<i class="form-group__bar"></i>
									</div>
								</div>

								<div class="col-md-3 mb-3">
								    <label for="PISO">Piso <span style="color: #ff6b68;">*</span></label>
								    <div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="zmdi zmdi-balance"></i></span>
										</div>
										<input type="text" id="PISO" placeholder="Piso" class="form-control" formControlName="PISO" [ngClass]="{ 'is-invalid': submitted && f.PISO.errors }" value="1" />
										<div *ngIf="submitted && f.PISO.errors" class="invalid-feedback">
								            <div *ngIf="f.PISO.errors.required">Por favor, agregue el piso donde esta la cama.</div>
								        </div>
										<i class="form-group__bar"></i>
									</div>
								</div>							

								<div class="col-md-12 mb-4">
								    <label for="OBSERVACION">Observacion <span style="color: #ff6b68;">*</span></label>
								    <div class="input-group mb-3">
										<textarea id="OBSERVACION" placeholder="Observacion" class="form-control" formControlName="OBSERVACION" [ngClass]="{ 'is-invalid': submitted && f.OBSERVACION.errors }"></textarea>
										<div *ngIf="submitted && f.OBSERVACION.errors" class="invalid-feedback">
								            <div *ngIf="f.OBSERVACION.errors.required">Por favor, diga la observación.</div>
								        </div>
										<i class="form-group__bar"></i>
									</div>
								</div>
								<div class="col-md-1">
									<label for="urgencias">Urgencias</label>
							    	<div class="form-group">
                                        <div class="toggle-switch">
                                            <input type="checkbox" class="toggle-switch__checkbox" name="urgencias" id="urgencias">
                                            <i class="toggle-switch__helper"></i>
                                        </div>
                                    </div>
								</div>
							</div>
							<div class="row form-group">
								<button class="btn btn-primary btn--icon-text btn-addp mr-2" type="button" (click)="Registrar();"><i class="zmdi zmdi-floppy"></i> Registrar</button>
								<button class="btn btn-primary btn--icon-text btn-cancelp" type="button" (click)="clearAll();"><i class="zmdi zmdi-close-circle"></i> Cancelar</button>		
							</div>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="table-responsive">
            <table id="data-table" class="table table-hover table-striped table-sm table-bordered">
            </table>
        </div>
	</div>
</div>