<header class="content__title" id="foco">
  <h1>Promocion y Prevencion</h1>
  <small>Podra diligenciar las historias clínicas!</small>
</header>

<div class="card">
  <div class="card-body">
    <div class="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <!-- <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Datos del programa a registrar
          </a> -->
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
          data-parent="#accordion">
          <div class="card-body">
            <div class="tab-container">
              <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#datosb" role="tab">PROGRAMA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#infog" role="tab">SERVICIOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#contratos" role="tab">MEDICAMENTOS</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active fade show" id="datosb" role="tabpanel">
                  <form [formGroup]="promocionForm" action="" (ngSubmit)="saveRecord()">
                    <div class="row col-md-12">
                      <!-- <div class="col-md-3 mb-3">
                        <div class="form-group">
                          <label for="ID_TIPO_DOC">Código Programa <span style="color: #ff6b68;">*</span></label>
                          <select class="select2 tipodoc" data-placeholder="Seleccione..." id="ID_TIPO_DOC"
                            formControlName="ID_TIPO_DOC">
                            <option></option>
                            <option *ngFor="let ident of tipoident" [value]="ident.ID_TIPO_IDENTIFICACION">
                              {{ident.COD_TIPO_IDENTIFICACION}} - {{ident.NOM_TIPO_IDENTIFICACION}}</option>
                          </select>
                          <i class="form-group__bar"></i>
                        </div>
                      </div> -->
                      <div class="col-md-3">
                        <label for="COD_PROGRAMA">Código Programa <span style="color: #ff6b68;">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-card-membership"></i></span>
                          </div>
                          <input type="text" id="COD_PROGRAMA" placeholder="Código Programa" class="form-control"
                            formControlName="COD_PROGRAMA"
                            [ngClass]="{ 'is-invalid': submitted && f.COD_PROGRAMA.errors }" />
                          <div *ngIf="submitted && f.COD_PROGRAMA.errors" class="invalid-feedback">
                            <div *ngIf="f.COD_PROGRAMA.errors.required">Por favor, agregue el código de programa.</div>
                          </div>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="NOMBRE_PROGRAMA">Programa</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-calendar"></i></span>
                          </div>
                          <input type="text" id="NOMBRE_PROGRAMA" placeholder="Nombre del programa" class="form-control"
                            formControlName="NOMBRE_PROGRAMA"
                            [ngClass]="{ 'is-invalid': submitted && f.NOMBRE_PROGRAMA.errors }" />
                          <div *ngIf="submitted && f.NOMBRE_PROGRAMA.errors" class="invalid-feedback">
                            <div *ngIf="f.NOMBRE_PROGRAMA.errors.required">Por favor, agregue el programa.</div>
                          </div>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <label>Activo</label>
                        <div class="form-group">
                          <div class="toggle-switch">
                            <input type="checkbox" class="toggle-switch__checkbox" name="activo" id="activo" checked>
                            <i class="toggle-switch__helper"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mb-5">
                        <label for="EDAD_INICIAL">Edad Inicial <span style="color: #ff6b68;">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-accounts-list"></i></span>
                          </div>
                          <input type="text" id="EDAD_INICIAL" placeholder="Edad Inicial" class="form-control"
                            formControlName="EDAD_INICIAL"
                            [ngClass]="{ 'is-invalid': submitted && f.EDAD_INICIAL.errors }" />
                          <div *ngIf="submitted && f.EDAD_INICIAL.errors" class="invalid-feedback">
                            <div *ngIf="f.EDAD_INICIAL.errors.required">Por favor, agregue la Edad Inicial.</div>
                          </div>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="UNIDAD_EDAD_INICIAL">Unidad Edad Inicial</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-accounts-list"></i></span>
                          </div>
                          <input type="text" id="UNIDAD_EDAD_INICIAL" placeholder="Unidad Edad Inicial"
                            class="form-control" formControlName="UNIDAD_EDAD_INICIAL" />
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="EDAD_FINAL">Edad Final <span style="color: #ff6b68;">*</span></label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-accounts-list"></i></span>
                          </div>
                          <input type="text" id="EDAD_FINAL" placeholder="Edad final" class="form-control"
                            formControlName="EDAD_FINAL"
                            [ngClass]="{ 'is-invalid': submitted && f.EDAD_FINAL.errors }" />
                          <div *ngIf="submitted && f.EDAD_FINAL.errors" class="invalid-feedback">
                            <div *ngIf="f.EDAD_FINAL.errors.required">Por favor, agregue la Edad Final.</div>
                          </div>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label for="UNIDAD_EDAD_FINAL">Unidad Edad Final</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="zmdi zmdi-accounts-list"></i></span>
                          </div>
                          <input type="text" id="UNIDAD_EDAD_FINAL" placeholder="Unidad Edad Final" class="form-control"
                            formControlName="UNIDAD_EDAD_FINAL" />
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="GENEROS">Género</label>
                          <select class="select2 generos" data-placeholder="Seleccione..." id="GENEROS"
                            formControlName="GENEROS">
                            <option></option>
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Indeterminado</option>
                          </select>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="ZONA">Zona</label>
                          <select class="select2 zona" id="ZONA" formControlName="ZONA" data-placeholder="Seleccione...">
                            <option value="1" [selected]="true">Zona Urbana</option>
                            <option value="2">Zona Rural</option>
                          </select>
                          <i class="form-group__bar"></i>
                        </div>
                      </div>
                      <ng-container *ngIf="showIsPregnant">{{showIsPregnant}}</ng-container>
                      <div class="col-md-12" *ngIf="!showIsPregnant">
                        <label for="gestantes">Gestantes</label>
                        <div class="form-group">
                          <div class="toggle-switch">
                            <input type="checkbox" class="toggle-switch__checkbox" name="GESTANTES" id="GESTANTES"
                              checked>
                            <i class="toggle-switch__helper"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <button class="btn btn-primary btn--icon-text btn-addp mr-2" type="button" (click)="saveNewRecord();"><i
                          class="zmdi zmdi-floppy"></i> Registrar</button>
                      <button *ngIf="paciente_id != 0" class="btn btn-primary btn--icon-text btn-cancelp" type="button"
                        (click)="clearAll('PROGRAMA');"><i class="zmdi zmdi-close-circle"></i> Cancelar</button>
                    </div>
                  </form>
                  <!-- Begin Load Table -->
                  <div class="table-responsive">
                    <table id="data-table" class="table table-hover table-striped table-sm table-bordered">
                    </table>
                  </div>
                  <!-- End Load Table -->
                </div>
                <div class="tab-pane fade" id="infog" role="tabpanel">
                  <form [formGroup]="serviciosForm" action="">
                    <div class="row col-md-12">
                      <div class="col-md-6">
                        <label>Código servicio</label>
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Código" id="COD_SERVICIO" class="form-control"
                            formControlName="COD_SERVICIO" required />
                          <i class="form-group__bar"></i>
                        </div>
                        <div *ngIf="fs.COD_SERVICIO.invalid && (fs.COD_SERVICIO.dirty || fs.COD_SERVICIO.touched)" class="text-danger">
                          <div *ngIf="fs.COD_SERVICIO.errors.required">Por favor, agregue el nombre del servicio.</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label>Nombre servicio</label>
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Servicio" id="NOM_SERVICIO" class="form-control"
                            formControlName="NOM_SERVICIO" required />
                          <i class="form-group__bar"></i>
                        </div>
                        <div *ngIf="fs.NOM_SERVICIO.invalid && (fs.NOM_SERVICIO.dirty || fs.NOM_SERVICIO.touched)" class="text-danger">
                          <div *ngIf="fs.NOM_SERVICIO.errors.required">Por favor, agregue el nombre del servicio.</div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group">
                      <button class="btn btn-primary btn--icon-text btn-addp mr-2" type="button" (click)="saveNewServices();"><i
                          class="zmdi zmdi-floppy"></i> Registrar</button>
                      <button *ngIf="paciente_id != 0" class="btn btn-primary btn--icon-text btn-cancelp" type="button"
                        (click)="clearAll('SERVICIOS');"><i class="zmdi zmdi-close-circle"></i> Cancelar</button>
                    </div>
                  </form>
                  <!-- Begin Load Table -->
                  <div class="table-responsive">
                    <table id="data-table-services" class="table table-hover table-striped table-sm table-bordered">
                    </table>
                  </div>
                  <!-- End Load Table -->
                </div>
                <div class="tab-pane fade" id="contratos" role="tabpanel">
                  <form [formGroup]="medicamentosForm" action="" (ngSubmit)="saveNewMedicines()">
                    <div class="row col-md-12">
                      <div class="col-md-6">
                        <label>Código medicamento</label>
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Código" id="COD_MEDICAMENTO" class="form-control"
                            formControlName="COD_MEDICAMENTO" [ngClass]="{ 'is-invalid': (fm.COD_MEDICAMENTO.dirty || fm.COD_MEDICAMENTO.touched) && fm.COD_MEDICAMENTO.invalid }" required />
                          <i class="form-group__bar"></i>
                        </div>
                        <div *ngIf="fm.COD_MEDICAMENTO.invalid && (fm.COD_MEDICAMENTO.dirty || fm.COD_MEDICAMENTO.touched)" class="text-danger">
                          <div *ngIf="fm.COD_MEDICAMENTO.errors.required">Por favor, agregue el código del medicamentos.</div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label>Nombre medicamento</label>
                        <div class="input-group mb-3">
                          <input type="text" placeholder="Medicamento" id="NOM_MEDICAMENTO" class="form-control"
                            formControlName="NOM_MEDICAMENTO" [ngClass]="{ 'is-invalid': (fm.NOM_MEDICAMENTO.dirty || fm.NOM_MEDICAMENTO.touched) && fm.NOM_MEDICAMENTO.invalid }" />
                          <i class="form-group__bar"></i>
                        </div>
                        <div *ngIf="fm.NOM_MEDICAMENTO.invalid && (fm.NOM_MEDICAMENTO.dirty || fm.NOM_MEDICAMENTO.touched)" class="text-danger">
                          <div *ngIf="fm.NOM_MEDICAMENTO.errors.required">Por favor, agregue el nombre del medicamentos.</div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="table-responsive">
                      <p-datatable id="lista" [value]="lista">
                        <p-header>

                        </p-header>
                        <p-column field="codigo" header="codigo"></p-column>
                        <p-column field="nombre" header="nombre"></p-column>
                      </p-datatable>
                    </div> -->
                    <div class="row form-group">
                      <button class="btn btn-primary btn--icon-text btn-addp mr-2" type="button" (click)="saveNewMedicines();"><i
                          class="zmdi zmdi-floppy"></i> Registrar</button>
                      <button *ngIf="paciente_id != 0" class="btn btn-primary btn--icon-text btn-cancelp" type="button"
                        (click)="clearAll('MEDICAMENTOS');"><i class="zmdi zmdi-close-circle"></i> Cancelar</button>
                    </div>
                  </form>
                  <!-- Begin Load Table -->
                  <div class="table-responsive">
                    <table id="data-table-medicines" class="table table-hover table-striped table-sm table-bordered">
                    </table>
                  </div>
                  <!-- End Load Table -->
                </div>
              </div>
            </div>
            <!-- <div class="row form-group">
              <button class="btn btn-primary btn--icon-text btn-addp mr-2" type="button" (click)="saveNewRecord();"><i
                  class="zmdi zmdi-floppy"></i> Registrar</button>
              <button *ngIf="paciente_id != 0" class="btn btn-primary btn--icon-text btn-cancelp" type="button"
                (click)="clearAll();"><i class="zmdi zmdi-close-circle"></i> Cancelar</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>